BODY {background:#cfcce6; padding: 50px}
h1, h2, h3, h4 {color: #4a3893; font-family: 'times new roman'; border: 1px dashed blue; padding-top: 20px;padding-bottom: 20px;padding-left: 10px;}
#mypic {width: 240px; height: 300px;}
li {color: #4a3893; font-family: times new roman}
#introduction h2 {font-style: italic;}
#introduction p {font-size: 19px; }
.navigation {display: flex; gap:20px; padding-right: 10px;}
.navigation li {border:#4a3893 1px dashed;padding: 10px;}