.nice-block {
    height: 60px;
    
    width: 100px;
    padding: 70px;
    background: rgb(134, 166, 237);
    margin: 20px;
}

.less {
    height: auto;
    overflow: visible;
}


.more {
    height: auto;
    overflow: visible;
}

.nice-block span {
    cursor: pointer;
    color: rgb(42, 5, 82);
}