BODY {background: url('greenhills.png');padding: 70px;background-repeat: no-repeat; background-size: cover;}
p {color: rgb(109, 53, 193);}
p{font-family: 'times new roman'}
p{font-size: 40px;}
#housemd {width: 350px; height: 350px;}
p2{font-family: 'times new roman'; font-size: 40px;float: right;}
#Wilson {float: right;}