#creature-form {
    background: #eeeeee;
    padding: 20px;
    margin: 50px;
}

#creature-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.creature-body {
    background: pink;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100px;
    height: 100px;
}

.eye { 
    height: 18px; 
    width: 10px; 
    border: 2px solid #000; 
    border-radius: 10px; 
    background: #fff;
}

.circle{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index:-1;
}

.square{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index:-1;
}

.rectangle{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index:-1;
}

.triangle{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index:-1;

}

